import(Zelig, VGAM, jsonlite)

exportPattern("^[[:alpha:]]+")
exportClasses(
     "Zelig-bbinchoice",
     "Zelig-blogit",
     "Zelig-bprobit",
     "Zelig-mlogit"
)

importFrom(methods, setRefClass)