import(methods, Zelig, jsonlite, dplyr)

importFrom("MASS", "polr", "mvrnorm")
importFrom("VGAM", "vglm", "binom2.or", "binom2.rho", "constraints", "constraints.vlm")
importFrom("stats", "runif", "rlogis", "plogis")

importClassesFrom("VGAM", "vglm")
importMethodsFrom("VGAM", "coef", "fitted", "predict", "vcov")

exportPattern("^[[:alpha:]]+")
exportClasses(
     "Zelig-bbinchoice",
     "Zelig-blogit",
     "Zelig-bprobit",
     "Zelig-mlogit",
     "Zelig-obinchoice",
     "Zelig-ologit",
     "Zelig-oprobit"
)