import(methods, Zelig, MASS, jsonlite, dplyr)

importFrom("VGAM", "vglm")

importClassesFrom("VGAM", "vglm")
importMethodsFrom("VGAM", "coef", "fitted", "plot", "predict", "summary", "vcov")

exportPattern("^[[:alpha:]]+")
exportClasses(
     "Zelig-bbinchoice",
     "Zelig-blogit",
     "Zelig-bprobit",
     "Zelig-mlogit",
     "Zelig-obinchoice",
     "Zelig-ologit",
     "Zelig-oprobit"
)